* {
	background: pink;
}

.covered-button {
	background: blue;
	position: absolute;
	left: 400px;
	top: 100px;
	color: #fff;
}

.cover-box {
	background: yellow;
	position: absolute;
    z-index: 1;
	width: 500px;
	height: 300px;
}